@import '~antd/dist/antd.css';
/*@import '~antd/dist/antd.dark.css';*/
/*@import '~antd/dist/antd.compact.css';*/

.App {
  text-align: center;
}

.token-card .ant-card-body{
  padding: 1rem
}

.token {
  font-size: 2.5rem;
  font-weight: 400;
  color: #1890ff;
}

.token-danger,
.token-progress-danger .ant-progress-circle-path{
  --token-danger-color: crimson;
  color: var(--token-danger-color) !important;
  stroke: var(--token-danger-color) !important;
}

.token-fast-forward,
.token-progress-fast-forward .ant-progress-circle-path{
  --token-fast-forward-color: #63a832;
  color: var(--token-fast-forward-color) !important;
  stroke: var(--token-fast-forward-color) !important;
}

.copy-notification {
  border-radius: 0.75rem !important;
  padding: 0.75rem;
}

.copy-notification .ant-notification-notice-icon {
  display: none;
}

.copy-notification .ant-notification-notice-message {
  margin-left: 1rem;
}
